<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org>
<head>
	<title>ChatMaster</title>
	<script type="text/javascript">
	var userName = prompt('Hey! What is your name?')
	while (userName === '') {
		userName = prompt('Hey! What is your name?')
	}
	sessionStorage.setItem('user', userName);
		user = {
				'userName' : userName
		}
		
		fetch('/welcome', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(user)
		})
		.then( (userEntity) => userEntity.json())
		.then( (userName => {
			console.log('Success:', userName);
		}))

	</script>
</head>
<body>
	<div>
		<h1>Join A Channel</h1>
	</div>
	<div th:each="channel : ${channels}">
	  	<div>
          <a th:href="@{channels/{channelId}(channelId = ${channel.channelId})}">
              <span th:text="${channel.channelName}"></span><br/>
          </a>
        </div>
	</div>
    <br/>
    <form action="/welcome/createNewChannel" method="post">
        <div>
            <h4>Do you want to enjoy your very own <b>CHANNEL</b>?</h4>
        </div>
        <div>
            Enter your new channel name: <input type="text" th:field="${channel.channelName}"/>
        </div>
        <div>
            <input type="submit" value="Create my new Channel"/> 
        </div>
    </form>>
</body>
</html>